/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-family:Arial, Helvetica, sans-serif;
}

img{
    max-width:100%;
}

a{
    text-decoration:none;
    color:white;    
}

/* Colori */
.red{
    background-color:red;

}
.green{
    background-color:green;
}

/* General */
.container {
    max-width:80%;
    margin:auto;
}

.flex {
    display:flex;
}

.sec1-3{
    width:calc(100%/3);
}

.section{
    padding-top:20px;
}

.relative{
    position:relative;
}

.discount-amount,
.discount-description{
    color:white;
    padding:5px;
    margin-right:5px;
}

.discount-section {
    position:absolute;
    bottom:30px;
    left:0;
}

.container-description {
    padding-top:5px;
}

.brand {
    font-size:13px;
}

.price {
    font-size:15px;
    color:red;
}

.price span.old-price{
    color:black;
    font-size:13px;
    text-decoration: line-through;
}
/* Header */

header {
    background-color: #FF6900;
}

header .container.flex .sec1-3:first-child{
    align-items:center;
}

header .container.flex .sec1-3{
    padding:20px;
}

header .container.flex .sec1-3:nth-of-type(3) {
   justify-content:flex-end;
   align-items:center;
}

header .container.flex .sec1-3:nth-of-type(3) a,
header .container.flex .sec1-3:first-child a
{
    padding:4px; 
    /* Padding Icone / Scritte | Header */
}

header .container.flex .sec1-3:nth-of-type(2){
    align-items:center;
    justify-content:center;
}

header .sec1-3 img {
    width:150px;
}

/* Main */

.sec1-3 .relative img {
    display:block;
}
